table{
    margin: 100px auto;
}
.even{
    background-color: #f2f2f2;
}
th{
    background-color: #222222;
    color: white;
}
.odd{
    background-color: #444444;
}
th,td{
    padding: 5px;
    font-size: small;
}
.hover{
    background-color: #b2d8ff;
}